extends ../main

block variables
    - var title = 'MrCable.ru'

block content
    main.index
        //- slider
        section.index__slider
            .islider
                .container
                    .islider__container.swiper-container
                        .swiper-wrapper
                            .swiper-slide.islider__slide
                                .islide
                                    .islide__left
                                        h2.islide__title Оптовые поставки кабелей и разъемов
                                        .islide__txt Поставим под ключ все кабели и разъемы для аудио видео светового оборудования, силовые кабели и акустические системы под Вашу спецификацию / проект
                                        a(href='#').islide__link.btn.jsPrice
                                            span.btn__txt Получать прайс-лист
                                            span.btn__icon
                                                <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19.8452 4.39274C20.0404 4.19748 20.0404 3.88089 19.8452 3.68563L16.6632 0.503651C16.4679 0.308388 16.1513 0.308388 15.9561 0.503651C15.7608 0.698913 15.7608 1.0155 15.9561 1.21076L18.7845 4.03918L15.9561 6.86761C15.7608 7.06287 15.7608 7.37946 15.9561 7.57472C16.1513 7.76998 16.4679 7.76998 16.6632 7.57472L19.8452 4.39274ZM0.522461 4.53918H19.4916V3.53918H0.522461V4.53918Z" fill="#2F2A23"/>
                                                </svg>
                                        .islide__grid
                                            .islide__col
                                                .iscontact
                                                    .iscontact__top
                                                        .iscontact__icon.
                                                            <svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M21.8213 4.01167C19.7244 1.83301 16.9432 0.63324 13.9891 0.63324C11.0349 0.63324 8.25373 1.83301 6.15771 4.01167C1.86702 8.4703 1.86702 15.7254 6.1558 20.1826L13.1641 27.4956C13.3797 27.7203 13.6775 27.8475 13.9891 27.8475C14.3007 27.8475 14.5985 27.7203 14.8141 27.4956L21.8212 20.1841C26.1119 15.725 26.1119 8.47036 21.8213 4.01167ZM20.1724 18.6011L13.9891 25.0534L7.80428 18.5997C4.35459 15.0144 4.35459 9.1811 7.80428 5.59619C9.46606 3.86965 11.6623 2.91854 13.9891 2.91854C16.3159 2.91854 18.5125 3.86958 20.1739 5.59619C23.624 9.18147 23.624 15.0143 20.1724 18.6011Z" fill="#333333"/>
                                                            <path d="M13.9886 6.3656C11.4473 6.3656 9.37988 8.43304 9.37988 10.9743C9.37988 13.5156 11.4473 15.583 13.9886 15.583C16.5302 15.583 18.5973 13.5156 18.5973 10.9743C18.5973 8.43304 16.5298 6.3656 13.9886 6.3656ZM13.9886 13.2977C12.7073 13.2977 11.6652 12.2556 11.6652 10.9743C11.6652 9.693 12.7073 8.6509 13.9886 8.6509C15.2699 8.6509 16.312 9.693 16.312 10.9743C16.312 12.2556 15.2699 13.2977 13.9886 13.2977Z" fill="#333333"/>
                                                            <path d="M27.7322 31.0337L26.5895 20.8641C26.5247 20.2859 26.0357 19.849 25.454 19.849H19.4742V22.1343H24.4329L25.3188 30.0186H2.66038L3.54629 22.1343H8.5043V19.849H2.52442C1.94278 19.849 1.45411 20.2859 1.38898 20.8641L0.246359 31.0337C0.210173 31.3571 0.313412 31.68 0.530096 31.9227C0.747214 32.1653 1.05687 32.304 1.38211 32.304H26.5968C26.922 32.304 27.2317 32.1654 27.4484 31.9227C27.6652 31.68 27.7683 31.357 27.7322 31.0337Z" fill="#333333"/>
                                                            </svg>
                                                        .iscontact__name Офис:
                                                    .iscontact__txt Москва, ул. Академика Королёва, д.10
                                            .islide__col
                                                .iscontact
                                                    .iscontact__top
                                                        .iscontact__icon.
                                                            <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M13.9288 5.50226V9.60737H10.3105V5.50226H8.33691V10.5547C8.33691 11.0779 8.7787 11.502 9.32373 11.502H14.9156C15.4606 11.502 15.9024 11.0779 15.9024 10.5547V5.50226H13.9288Z" fill="#333333"/>
                                                            <path d="M26.5932 0.765625H5.54146C5.27995 0.765625 5.02867 0.865407 4.84381 1.04317L0.896535 4.83251C0.711361 5.00997 0.607422 5.2512 0.607422 5.50225V23.691C0.607422 24.2143 1.0492 24.6384 1.59424 24.6384H22.646C22.9079 24.6384 23.1588 24.5383 23.3437 24.3608L27.2909 20.5715C27.4761 20.394 27.58 20.1531 27.58 19.9017V1.71292C27.58 1.18969 27.1383 0.765625 26.5932 0.765625ZM25.6065 19.5095L22.2375 22.7437H2.58101V5.89475L5.95026 2.66027H25.6064V19.5095H25.6065Z" fill="#333333"/>
                                                            <path d="M25.8951 1.04315L22.237 4.55488H1.59375V6.44952H22.6456C22.9074 6.44952 23.1584 6.34974 23.3432 6.17197L27.2904 2.38264L25.8951 1.04315Z" fill="#333333"/>
                                                            <path d="M23.6328 5.50226H21.6592V23.691H23.6328V5.50226Z" fill="#333333"/>
                                                            </svg>
                                                        .iscontact__name Склад:
                                                    .iscontact__txt Москва, Мурманский проезд, д.1А, стр.1
                                    .islide__right
                                        +image('/images/content/slider/img.png','islide__img')

                            .swiper-slide.islider__slide
                                .islide
                                    .islide__left
                                        h2.islide__title Широкий ассортимент кабельной продукции и разъемов от ведущих мировых производителей
                                        a(href='#').islide__link.btn.jsPrice
                                            span.btn__txt Получать прайс-лист
                                            span.btn__icon
                                                <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19.8452 4.39274C20.0404 4.19748 20.0404 3.88089 19.8452 3.68563L16.6632 0.503651C16.4679 0.308388 16.1513 0.308388 15.9561 0.503651C15.7608 0.698913 15.7608 1.0155 15.9561 1.21076L18.7845 4.03918L15.9561 6.86761C15.7608 7.06287 15.7608 7.37946 15.9561 7.57472C16.1513 7.76998 16.4679 7.76998 16.6632 7.57472L19.8452 4.39274ZM0.522461 4.53918H19.4916V3.53918H0.522461V4.53918Z" fill="#2F2A23"/>
                                                </svg>
                                        .islide__grid
                                            .islide__col
                                                .iscontact
                                                    .iscontact__top
                                                        .iscontact__icon.
                                                            <svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M21.8213 4.01167C19.7244 1.83301 16.9432 0.63324 13.9891 0.63324C11.0349 0.63324 8.25373 1.83301 6.15771 4.01167C1.86702 8.4703 1.86702 15.7254 6.1558 20.1826L13.1641 27.4956C13.3797 27.7203 13.6775 27.8475 13.9891 27.8475C14.3007 27.8475 14.5985 27.7203 14.8141 27.4956L21.8212 20.1841C26.1119 15.725 26.1119 8.47036 21.8213 4.01167ZM20.1724 18.6011L13.9891 25.0534L7.80428 18.5997C4.35459 15.0144 4.35459 9.1811 7.80428 5.59619C9.46606 3.86965 11.6623 2.91854 13.9891 2.91854C16.3159 2.91854 18.5125 3.86958 20.1739 5.59619C23.624 9.18147 23.624 15.0143 20.1724 18.6011Z" fill="#333333"/>
                                                            <path d="M13.9886 6.3656C11.4473 6.3656 9.37988 8.43304 9.37988 10.9743C9.37988 13.5156 11.4473 15.583 13.9886 15.583C16.5302 15.583 18.5973 13.5156 18.5973 10.9743C18.5973 8.43304 16.5298 6.3656 13.9886 6.3656ZM13.9886 13.2977C12.7073 13.2977 11.6652 12.2556 11.6652 10.9743C11.6652 9.693 12.7073 8.6509 13.9886 8.6509C15.2699 8.6509 16.312 9.693 16.312 10.9743C16.312 12.2556 15.2699 13.2977 13.9886 13.2977Z" fill="#333333"/>
                                                            <path d="M27.7322 31.0337L26.5895 20.8641C26.5247 20.2859 26.0357 19.849 25.454 19.849H19.4742V22.1343H24.4329L25.3188 30.0186H2.66038L3.54629 22.1343H8.5043V19.849H2.52442C1.94278 19.849 1.45411 20.2859 1.38898 20.8641L0.246359 31.0337C0.210173 31.3571 0.313412 31.68 0.530096 31.9227C0.747214 32.1653 1.05687 32.304 1.38211 32.304H26.5968C26.922 32.304 27.2317 32.1654 27.4484 31.9227C27.6652 31.68 27.7683 31.357 27.7322 31.0337Z" fill="#333333"/>
                                                            </svg>
                                                        .iscontact__name Офис:
                                                    .iscontact__txt Москва, ул. Академика Королёва, д.10
                                            .islide__col
                                                .iscontact
                                                    .iscontact__top
                                                        .iscontact__icon.
                                                            <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M13.9288 5.50226V9.60737H10.3105V5.50226H8.33691V10.5547C8.33691 11.0779 8.7787 11.502 9.32373 11.502H14.9156C15.4606 11.502 15.9024 11.0779 15.9024 10.5547V5.50226H13.9288Z" fill="#333333"/>
                                                            <path d="M26.5932 0.765625H5.54146C5.27995 0.765625 5.02867 0.865407 4.84381 1.04317L0.896535 4.83251C0.711361 5.00997 0.607422 5.2512 0.607422 5.50225V23.691C0.607422 24.2143 1.0492 24.6384 1.59424 24.6384H22.646C22.9079 24.6384 23.1588 24.5383 23.3437 24.3608L27.2909 20.5715C27.4761 20.394 27.58 20.1531 27.58 19.9017V1.71292C27.58 1.18969 27.1383 0.765625 26.5932 0.765625ZM25.6065 19.5095L22.2375 22.7437H2.58101V5.89475L5.95026 2.66027H25.6064V19.5095H25.6065Z" fill="#333333"/>
                                                            <path d="M25.8951 1.04315L22.237 4.55488H1.59375V6.44952H22.6456C22.9074 6.44952 23.1584 6.34974 23.3432 6.17197L27.2904 2.38264L25.8951 1.04315Z" fill="#333333"/>
                                                            <path d="M23.6328 5.50226H21.6592V23.691H23.6328V5.50226Z" fill="#333333"/>
                                                            </svg>
                                                        .iscontact__name Склад:
                                                    .iscontact__txt Москва, Мурманский проезд, д.1А, стр.1
                                    .islide__right.islide__right_t
                                        +image('/images/content/slider/3.png','islide__img')


                            .swiper-slide.islider__slide
                                .islide
                                    .islide__left
                                        h2.islide__title Бренд MrCable
                                        .islide__txt Кабель собственной торговой марки. Высокое качество, конкурентные технические характеристики, надёжность в эксплуатации. Экономьте бюджет, выбирая MrCable.
                                        a(href='#').islide__link.btn.jsPrice
                                            span.btn__txt Получать прайс-лист
                                            span.btn__icon
                                                <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M19.8452 4.39274C20.0404 4.19748 20.0404 3.88089 19.8452 3.68563L16.6632 0.503651C16.4679 0.308388 16.1513 0.308388 15.9561 0.503651C15.7608 0.698913 15.7608 1.0155 15.9561 1.21076L18.7845 4.03918L15.9561 6.86761C15.7608 7.06287 15.7608 7.37946 15.9561 7.57472C16.1513 7.76998 16.4679 7.76998 16.6632 7.57472L19.8452 4.39274ZM0.522461 4.53918H19.4916V3.53918H0.522461V4.53918Z" fill="#2F2A23"/>
                                                </svg>
                                        .islide__grid
                                            .islide__col
                                                .iscontact
                                                    .iscontact__top
                                                        .iscontact__icon.
                                                            <svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M21.8213 4.01167C19.7244 1.83301 16.9432 0.63324 13.9891 0.63324C11.0349 0.63324 8.25373 1.83301 6.15771 4.01167C1.86702 8.4703 1.86702 15.7254 6.1558 20.1826L13.1641 27.4956C13.3797 27.7203 13.6775 27.8475 13.9891 27.8475C14.3007 27.8475 14.5985 27.7203 14.8141 27.4956L21.8212 20.1841C26.1119 15.725 26.1119 8.47036 21.8213 4.01167ZM20.1724 18.6011L13.9891 25.0534L7.80428 18.5997C4.35459 15.0144 4.35459 9.1811 7.80428 5.59619C9.46606 3.86965 11.6623 2.91854 13.9891 2.91854C16.3159 2.91854 18.5125 3.86958 20.1739 5.59619C23.624 9.18147 23.624 15.0143 20.1724 18.6011Z" fill="#333333"/>
                                                            <path d="M13.9886 6.3656C11.4473 6.3656 9.37988 8.43304 9.37988 10.9743C9.37988 13.5156 11.4473 15.583 13.9886 15.583C16.5302 15.583 18.5973 13.5156 18.5973 10.9743C18.5973 8.43304 16.5298 6.3656 13.9886 6.3656ZM13.9886 13.2977C12.7073 13.2977 11.6652 12.2556 11.6652 10.9743C11.6652 9.693 12.7073 8.6509 13.9886 8.6509C15.2699 8.6509 16.312 9.693 16.312 10.9743C16.312 12.2556 15.2699 13.2977 13.9886 13.2977Z" fill="#333333"/>
                                                            <path d="M27.7322 31.0337L26.5895 20.8641C26.5247 20.2859 26.0357 19.849 25.454 19.849H19.4742V22.1343H24.4329L25.3188 30.0186H2.66038L3.54629 22.1343H8.5043V19.849H2.52442C1.94278 19.849 1.45411 20.2859 1.38898 20.8641L0.246359 31.0337C0.210173 31.3571 0.313412 31.68 0.530096 31.9227C0.747214 32.1653 1.05687 32.304 1.38211 32.304H26.5968C26.922 32.304 27.2317 32.1654 27.4484 31.9227C27.6652 31.68 27.7683 31.357 27.7322 31.0337Z" fill="#333333"/>
                                                            </svg>
                                                        .iscontact__name Офис:
                                                    .iscontact__txt Москва, ул. Академика Королёва, д.10
                                            .islide__col
                                                .iscontact
                                                    .iscontact__top
                                                        .iscontact__icon.
                                                            <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M13.9288 5.50226V9.60737H10.3105V5.50226H8.33691V10.5547C8.33691 11.0779 8.7787 11.502 9.32373 11.502H14.9156C15.4606 11.502 15.9024 11.0779 15.9024 10.5547V5.50226H13.9288Z" fill="#333333"/>
                                                            <path d="M26.5932 0.765625H5.54146C5.27995 0.765625 5.02867 0.865407 4.84381 1.04317L0.896535 4.83251C0.711361 5.00997 0.607422 5.2512 0.607422 5.50225V23.691C0.607422 24.2143 1.0492 24.6384 1.59424 24.6384H22.646C22.9079 24.6384 23.1588 24.5383 23.3437 24.3608L27.2909 20.5715C27.4761 20.394 27.58 20.1531 27.58 19.9017V1.71292C27.58 1.18969 27.1383 0.765625 26.5932 0.765625ZM25.6065 19.5095L22.2375 22.7437H2.58101V5.89475L5.95026 2.66027H25.6064V19.5095H25.6065Z" fill="#333333"/>
                                                            <path d="M25.8951 1.04315L22.237 4.55488H1.59375V6.44952H22.6456C22.9074 6.44952 23.1584 6.34974 23.3432 6.17197L27.2904 2.38264L25.8951 1.04315Z" fill="#333333"/>
                                                            <path d="M23.6328 5.50226H21.6592V23.691H23.6328V5.50226Z" fill="#333333"/>
                                                            </svg>
                                                        .iscontact__name Склад:
                                                    .iscontact__txt Москва, Мурманский проезд, д.1А, стр.1
                                    .islide__right.islide__right_t
                                        +image('/images/content/slider/2.png','islide__img')

                    .islider__nav
                        a(href='#').islider__arr.islider__prev.
                            <svg width="9" height="86" viewBox="0 0 9 86" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.72269 0.411812C4.52743 0.216553 4.21085 0.216553 4.01559 0.411812L0.83361 3.5938C0.638348 3.78905 0.638348 4.10564 0.83361 4.3009C1.02887 4.49616 1.34545 4.49616 1.54072 4.3009L4.36914 1.47247L7.19757 4.3009C7.39283 4.49616 7.70942 4.49616 7.90468 4.3009C8.09994 4.10564 8.09994 3.78905 7.90468 3.59379L4.72269 0.411812ZM4.8692 85.8834L4.86914 0.765366L3.86914 0.765366L3.8692 85.8834L4.8692 85.8834Z"/>
                            </svg>
                        .islider__pag
                        a(href='#').islider__arr.islider__next.
                            <svg width="9" height="86" viewBox="0 0 9 86" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.01558 85.5651C4.21085 85.7604 4.52743 85.7604 4.72269 85.5651L7.90467 82.3831C8.09993 82.1879 8.09993 81.8713 7.90467 81.676C7.70941 81.4808 7.39282 81.4808 7.19756 81.676L4.36914 84.5045L1.54071 81.676C1.34545 81.4808 1.02886 81.4808 0.833601 81.676C0.638339 81.8713 0.638339 82.1879 0.833601 82.3831L4.01558 85.5651ZM3.86908 0.0935062L3.86914 85.2116L4.86914 85.2116L4.86908 0.0935056L3.86908 0.0935062Z"/>
                            </svg>
        //- partners
        section.index__partners
            .iparts
                .container
                    .iparts__left
                        h2.iparts__title Мы официальные дистрибьюторы по России:
                    .iparts__right
                        each i in [1,2,3,4,5]
                            .ipart
                                .ipart__img
                                    +image('/images/content/partners/'+i+'.png')
        //- feed
        section.index__feed
            .container
                form(action='ajax.php' method='POST').feed
                    .feed__left
                        .feed__icon.
                            <svg width="58" height="58" viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9607 38.574L0.753906 53.7765L4.10619 57.1297L19.313 41.9272L15.9607 38.574Z" fill="#FFDD2D"/>
                            <path d="M13.7893 53.778L17.1416 57.1312L28.7932 45.4829L25.4409 42.1297L13.7893 53.778Z" fill="#FFDD2D"/>
                            <path d="M15.7551 32.4391L12.4023 29.0863L0.752444 40.7362L4.1052 44.089L15.7551 32.4391Z" fill="#FFDD2D"/>
                            <path d="M57.6408 0.240479L52.7547 1.86921L52.7072 1.82061L52.6112 1.91662L1.11426 19.0823L27.2035 30.6778L38.799 56.7671L55.9647 5.26891L56.0595 5.17408L56.0121 5.12666L57.6408 0.240479ZM14.2105 19.7153L45.1148 9.41304L28.4743 26.0547L14.2105 19.7153ZM38.166 43.6708L31.8266 29.407L48.4671 12.7665L38.166 43.6708Z" fill="#FFDD2D"/>
                            </svg>
                        h2.feed__title
                            | Оставьте заявку
                            br
                            | и мы свяжемся с вами
                    .feed__right
                        .feed__field
                            input(type='text' name='name' placeholder='Имя').input
                        .feed__field
                            input(type='tel' name='tel' placeholder='Телефон').input
                        .feed__field
                            button(type='submit').btn.feed__btn
                                span.btn__txt Отправить
                                span.btn__icon.
                                    <svg width="26" height="8" viewBox="0 0 26 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.9585 4.56803C25.1538 4.37277 25.1538 4.05619 24.9585 3.86092L21.7766 0.678944C21.5813 0.483681 21.2647 0.483681 21.0694 0.678944C20.8742 0.874206 20.8742 1.19079 21.0694 1.38605L23.8979 4.21448L21.0694 7.0429C20.8742 7.23817 20.8742 7.55475 21.0694 7.75001C21.2647 7.94527 21.5813 7.94527 21.7766 7.75001L24.9585 4.56803ZM0.569336 4.71448H24.605V3.71448H0.569336V4.71448Z" fill="#333333"/>
                                    </svg>


                    input(type='hidden' name='action' value='ifeed')
                    input(type='hidden' name='theme' value='Форма обратной связи')
        //- about
        section.index__about
            .about
                .container
                    h2.about__title.title Мы занимаемся оптовыми поставками профессиональных кабелей и разъёмов
                    .about__sub.sub Лучших мировых производителей для аудио, видео, светового и коммуникационного оборудования
                    .about__grid
                        .about__left
                            .sws
                                a(href='#').sw.active
                                    span.sw__txt Официальные дистрибьюторы
                                    span.sw__icon.
                                        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.45703 1.5802L8.82178 9.57117L1.45703 17.5989" stroke="#878787" stroke-width="2"/>
                                        </svg>
                                a(href='#').sw
                                    span.sw__txt Крупнейший склад
                                    span.sw__icon.
                                        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.45703 1.5802L8.82178 9.57117L1.45703 17.5989" stroke="#878787" stroke-width="2"/>
                                        </svg>
                                a(href='#').sw
                                    span.sw__txt Доставка по всему миру
                                    span.sw__icon.
                                        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.45703 1.5802L8.82178 9.57117L1.45703 17.5989" stroke="#878787" stroke-width="2"/>
                                        </svg>


                        .about__right
                            .tabs
                                .tab.active
                                    .distributors
                                        .distributors__left
                                            h3.tab__title Официальные дистрибьюторы
                                            .distributors__content
                                                p Мы являемся официальными дистрибьюторами Neutrik, Belden, Draka, Canare, Schill, что гарантирует качество и лучшие цены.
                                                p Все продукция закупается напрямую с заводов производителей Европы, Америки и Японии и имеет государственные таможенные декларации (ГТД).
                                            //a(href='#').distributors__link.btn.jsCerts
                                            //    span.btn__txt Смотреть сертификаты
                                            //    span.btn__icon.
                                            //        <svg width="23" height="8" viewBox="0 0 23 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            //        <path d="M22.5713 4.3931C22.7666 4.19784 22.7666 3.88126 22.5713 3.686L19.3894 0.504017C19.1941 0.308755 18.8775 0.308755 18.6822 0.504017C18.487 0.699279 18.487 1.01586 18.6822 1.21112L21.5107 4.03955L18.6822 6.86798C18.487 7.06324 18.487 7.37982 18.6822 7.57508C18.8775 7.77035 19.1941 7.77035 19.3894 7.57508L22.5713 4.3931ZM0.355469 4.53955H22.2178V3.53955H0.355469V4.53955Z" fill="#333333"/>
                                            //        </svg>
                                        .distributors__right
                                            each i in [1,2,3,4,5,6]
                                                .distributors__item
                                                    .distributors__img
                                                        +image('/images/content/partners/'+i+'.png')
                                .tab
                                    .store
                                        h3.tab__title
                                            | Крупнейший
                                            br
                                            | склад
                                        .store__grid
                                            .store__content
                                                p
                                                    b Наш склад самый крупный в России и СНГ&nbsp;
                                                    |среди кабелей и разъёмов для аудио, видео, светового и коммуникационного оборудования.
                                                p
                                                    | Это &nbsp;
                                                    b свыше 200 километров&nbsp;
                                                    | основных позиций кабеля и 50 000 разъёмов.
                                                p
                                                    b Всегда в наличии кабельные катушки Schill,&nbsp;
                                                    | подвесные механизмы и аксуссуары к ним.
                                            .store__content
                                                p Сценическая коммутация и патч панели - производства Neutrik, Canare.
                                                p Регулярные поставки с заводов производителей позволяют поддерживать самые ходовые позиции в наличии.
                                .tab
                                    .delivery
                                        h3.tab__title.delivery__title
                                            |Доставка
                                            br
                                            |по всему миру
                                        .delivery__sub Всегда бесплатен самовывоз с нашего склада.
                                        .delivery__grid
                                            .delivery__content
                                                p
                                                    b Доставка по Москве
                                                    br
                                                    |осуществляется собственными курьерами или транспортной компанией Деловые линии и бесплатна &nbsp;
                                                    b от 10 000 рублей;
                                            .delivery__content
                                                p
                                                    b Доставка по России
                                                    br
                                                    | осуществляется транспортной компанией Деловые линии или компанией на ваш выбор и бесплатна до терминала в Москве;
                                            .delivery__content
                                                p
                                                    b Доставка за пределы России
                                                    br
                                                    |осуществляется любыми возможными способами;
        //- advantages
        section.index__advantages
            .advantages
                .container
                    .advantages__grid
                        .advantage
                            .advantage__icon.
                                <svg width="47" height="46" viewBox="0 0 47 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21.7788 21.3027L1.11473 12.6021C0.818691 12.4774 0.491211 12.6948 0.491211 13.0161V36.2766C0.491211 36.8643 0.849059 37.393 1.39486 37.6112L21.4377 45.6283C21.7327 45.7464 22.0537 45.529 22.0537 45.2112V21.7167C22.0537 21.536 21.9454 21.3729 21.7788 21.3027Z" fill="#FFDD2D"/>
                                <path d="M23.6655 18.8309L43.6391 10.421C43.9981 10.2699 44.0077 9.7646 43.6547 9.59991L24.0991 0.473944C23.7137 0.294167 23.2686 0.294167 22.8833 0.473944L3.32763 9.59991C2.97464 9.7646 2.98425 10.2699 3.34326 10.421L23.3169 18.8309C23.4283 18.8779 23.5541 18.8779 23.6655 18.8309Z" fill="#FFDD2D"/>
                                <path d="M24.9287 21.7167V45.2112C24.9287 45.529 25.2497 45.7464 25.5448 45.6283L45.5876 37.6112C46.1333 37.3929 46.4912 36.8643 46.4912 36.2766V13.0161C46.4912 12.6948 46.1637 12.4774 45.8677 12.6021L25.2036 21.3027C25.0371 21.3729 24.9287 21.536 24.9287 21.7167Z" fill="#FFDD2D"/>
                                </svg>
                            h3.advantage__title Собственное производство готовых решений
                            .advantage__txt Готовые соединительные кабели и коммутационное оборудование производится из лучших комплектующих Neutrik, Belden, Draka, Canare, Schill в неизменно высоком качестве.
                            a(href='/').advantage__link.jsSolution
                                span.advantage__link-txt Заказать готовое решение
                                span.advantage__link-icon.
                                    <svg width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.0457 6.17552C23.3233 5.90643 23.3302 5.46327 23.0611 5.18569L18.676 0.662251C18.4069 0.384671 17.9638 0.377786 17.6862 0.646873C17.4086 0.915961 17.4017 1.35912 17.6708 1.6367L21.5686 5.65753L17.5478 9.55534C17.2702 9.82443 17.2633 10.2676 17.5324 10.5452C17.8015 10.8228 18.2447 10.8296 18.5223 10.5606L23.0457 6.17552ZM0.323111 6.02755L22.5476 6.37283L22.5693 4.973L0.344858 4.62772L0.323111 6.02755Z"/>
                                    </svg>
                        .advantage
                            .advantage__icon.
                                <svg width="47" height="44" viewBox="0 0 47 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M46.8226 16.6625C46.6641 16.1746 46.2425 15.819 45.7349 15.7453L31.4747 13.6731L25.0971 0.751181C24.8702 0.291182 24.4017 0 23.8888 0C23.3757 0 22.9073 0.291182 22.6803 0.751181L16.3025 13.6731L2.04252 15.7453C1.53499 15.819 1.11318 16.1746 0.954695 16.6624C0.796121 17.1504 0.928371 17.6859 1.29574 18.044L11.6141 28.1023L9.1786 42.305C9.09181 42.8106 9.29971 43.3215 9.71469 43.6231C9.94946 43.7936 10.2275 43.8804 10.5069 43.8804C10.7215 43.8804 10.9367 43.8293 11.1339 43.7256L23.8887 37.0199L36.6429 43.7255C37.0971 43.9642 37.6472 43.9245 38.0622 43.623C38.4772 43.3215 38.6851 42.8105 38.5984 42.3048L36.1622 28.1023L46.4817 18.0439C46.8489 17.6859 46.9813 17.1504 46.8226 16.6625Z" fill="#FFDD2D"/>
                                </svg>
                            h3.advantage__title Лучшие решения для ваших проектов
                            .advantage__txt Мы прекрасно понимаем особенности работы с проектами, у нас имеется вся необходимая продукция и компетенции, которые позволяют увеличить ваши шансы выиграть проект.
                            a(href='/').advantage__link.jsSolution
                                span.advantage__link-txt Заказать готовое решение
                                span.advantage__link-icon.
                                    <svg width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.0457 6.17552C23.3233 5.90643 23.3302 5.46327 23.0611 5.18569L18.676 0.662251C18.4069 0.384671 17.9638 0.377786 17.6862 0.646873C17.4086 0.915961 17.4017 1.35912 17.6708 1.6367L21.5686 5.65753L17.5478 9.55534C17.2702 9.82443 17.2633 10.2676 17.5324 10.5452C17.8015 10.8228 18.2447 10.8296 18.5223 10.5606L23.0457 6.17552ZM0.323111 6.02755L22.5476 6.37283L22.5693 4.973L0.344858 4.62772L0.323111 6.02755Z"/>
                                    </svg>
                        .advantage
                            .advantage__icon.
                                <svg width="39" height="52" viewBox="0 0 39 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.7414 36.2997L30.1099 32.4563L34.3843 30.9985L34.8578 26.5092L38.0737 23.3433L36.5447 19.0938L38.0737 14.8442L34.8579 11.6783L34.3844 7.18908L30.11 5.73131L27.7415 1.88781L23.2615 2.42873L19.4558 0L15.6501 2.42893L11.1702 1.88801L8.80168 5.73141L4.52732 7.18918L4.05378 11.6784L0.837891 14.8443L2.36687 19.0939L0.837891 23.3435L4.05367 26.5093L4.52722 30.9986L8.80158 32.4564L11.1701 36.2998L15.6501 35.7589L19.4558 38.1878L23.2615 35.7589L27.7414 36.2997ZM6.36233 19.0939C6.36233 11.8742 12.2361 6.00041 19.4558 6.00041C26.6755 6.00041 32.5493 11.8742 32.5493 19.0939C32.5493 26.3136 26.6755 32.1874 19.4558 32.1874C12.2361 32.1874 6.36233 26.3136 6.36233 19.0939Z" fill="#FFDD2D"/>
                                <path d="M19.4561 9.03711C13.9108 9.03711 9.39941 13.5485 9.39941 19.0938C9.39941 24.639 13.9108 29.1504 19.4561 29.1504C25.0013 29.1504 29.5127 24.639 29.5127 19.0938C29.5127 13.5485 25.0013 9.03711 19.4561 9.03711Z" fill="#FFDD2D"/>
                                <path d="M14.9341 38.9041L9.6048 39.5475L6.78912 34.9782L5.83191 34.6519L1.70312 47.5569L9.13611 47.1481L14.9515 51.7955L18.3736 41.0993L14.9341 38.9041Z" fill="#FFDD2D"/>
                                <path d="M32.1226 34.9783L29.3068 39.5475L23.9776 38.9041L20.5381 41.0993L23.9602 51.7955L29.7756 47.1481L37.2086 47.5569L33.0798 34.6519L32.1226 34.9783Z" fill="#FFDD2D"/>
                                </svg>
                            h3.advantage__title Сертификаты качества
                            .advantage__txt Наша продукция имеет все необходимые сертификаты соответствия и пожарные сертификаты. Узнать для какой продукции необходимы сертификаты и получить их вы можете обратившись к менеджеру.
                            a(href='/').advantage__link.jsSolution
                                span.advantage__link-txt Заказать готовое решение
                                span.advantage__link-icon.
                                    <svg width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.0457 6.17552C23.3233 5.90643 23.3302 5.46327 23.0611 5.18569L18.676 0.662251C18.4069 0.384671 17.9638 0.377786 17.6862 0.646873C17.4086 0.915961 17.4017 1.35912 17.6708 1.6367L21.5686 5.65753L17.5478 9.55534C17.2702 9.82443 17.2633 10.2676 17.5324 10.5452C17.8015 10.8228 18.2447 10.8296 18.5223 10.5606L23.0457 6.17552ZM0.323111 6.02755L22.5476 6.37283L22.5693 4.973L0.344858 4.62772L0.323111 6.02755Z"/>
                                    </svg>
        //- categories
        section.index__cats
            .cats
                .container
                    .cats__title.title Колоссальный объём товаров в наличии на складе в Москве
                    .cats__sub.sub Склад коммутации MrCable — один из крупнейших в России
                    .cats__grid
                        each i,x in cats
                            a(href='/').cat.jsPrice
                                span.cat__image
                                    +image('images/content/categories/'+(x+1)+'.jpg','cat__img')
                                span.cat__desc
                                    span.cat__title= i
        //- works
        section.index__works
            .works
                .container
                    h2.works__title.title Мы умеем работать с проектами
                    .works__sub.sub Обращаясь к нам ваши шансы выиграть проект становятся выше. Как мы это делаем?
                    .works__grid
                        each i in works
                            .work
                                .work__icon!=i.svg
                                .work__title= i.title
                                .work__txt= i.txt
        //- cables
        section.index__cables
            .cables
                .container
                    h2.cables__title.title Оперативное производство соединительных кабелей
                    .cables__sub.sub От простых решений до сложных сценических мультикоров
                    .cables__grid
                        each i in cables
                            .cable
                                .cable__title= i.title
                                .cable__txt= i.sub
                    a(href='#').cables__btn.btn.jsSolution
                        span.btn__txt Заказать решение
        //- brand
        section.index__brand
            .brand
                .container
                    h2.brand__title.title Бренд MrCable
                    .brand__sub.sub 13 лет на рынке
                    .brand__wrap
                        .brand__grid
                            .bitem
                                .bitem__title
                                    | Собственная торговая
                                    br
                                    |марка кабелей
                                .bitem__txt
                                    |Экономьте до 30% бюджета на закупку кабеля,
                                    br
                                    |выбирая MrCable
                            .bitem
                                .bitem__img
                                    +image('images/content/brand/1.jpg')
                        .brand__grid
                            .bitem
                                .bitem__img
                                    +image('images/content/brand/2.jpg')
                            .bitem
                                .bitem__title
                                    |Производство на крупнейших заводах
                                    br
                                    |Германии и Тайваня
                                .bitem__txt
                                    |Мы используем те же сырьё и оборудование,
                                    br
                                    |что и для изготовления кабелей мировых
                                    br
                                    |брендов
                    a(href='/').brand__link.btn.jsPrice
                        span.btn__txt Полный каталог и прайс лист
        //- revs
        section.index__revs
            .revs
                .container
                    h2.revs__title.title Что о нас говорят клиенты
                    .revs__slider
                        .revs__nav
                            a(href='#').revs__arr.revs__prev.
                                <svg width="17" height="25" viewBox="0 0 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.00121 12.0627L15.9605 20.5471C16.358 20.8884 16.607 21.3769 16.653 21.9056C16.6989 22.4343 16.5381 22.96 16.2057 23.3677C15.8733 23.7754 15.3964 24.0318 14.8795 24.0808C14.3626 24.1298 13.8477 23.9673 13.4477 23.629L1.68042 13.6038C1.45977 13.4153 1.28229 13.1796 1.1605 12.9133C1.03871 12.6471 0.975588 12.3567 0.975588 12.0628C0.975588 11.7688 1.03871 11.4785 1.1605 11.2122C1.28229 10.9459 1.45977 10.7102 1.68042 10.5218L13.4477 0.496521C13.8475 0.156611 14.363 -0.00713496 14.8809 0.0412508C15.3987 0.0896365 15.8766 0.346198 16.2096 0.754576C16.5426 1.16296 16.7033 1.68975 16.6566 2.21925C16.6099 2.74874 16.3595 3.23763 15.9605 3.57852L6.00121 12.0627Z"/>
                                </svg>
                            a(href='#').revs__arr.revs__next.
                                <svg width="17" height="25" viewBox="0 0 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.5346 12.7709L1.5748 4.28612C1.17726 3.94474 0.928239 3.45621 0.882275 2.92752C0.836312 2.39882 0.997149 1.87305 1.32957 1.46534C1.66198 1.05763 2.13889 0.801204 2.65585 0.752219C3.17281 0.703234 3.68769 0.865682 4.08774 1.20399L15.8557 11.2298C16.0763 11.4183 16.2538 11.654 16.3756 11.9203C16.4974 12.1866 16.5605 12.477 16.5605 12.7709C16.5605 13.0649 16.4974 13.3553 16.3756 13.6215C16.2538 13.8878 16.0763 14.1235 15.8557 14.312L4.08774 24.3378C3.68787 24.6777 3.17236 24.8415 2.65447 24.7931C2.13658 24.7447 1.65865 24.4881 1.32568 24.0797C0.992701 23.6713 0.831907 23.1445 0.878617 22.615C0.925328 22.0855 1.17573 21.5966 1.5748 21.2556L11.5346 12.7709Z"/>
                                </svg>

                        .revs__container.swiper-container
                            .swiper-wrapper
                                 each i in revs
                                    .swiper-slide.revs__slide
                                        .rev
                                            .rev__left
                                                .rev__top
                                                    .rev__face
                                                        +image(i.img)
                                                    .rev__desc
                                                        .rev__name= i.name
                                                        .rev__prof= i.prof
                                                .rev__txt!=i.desc
                                            .rev__right
                                                .rev__comp Компания
                                                .rev__compname= i.comp
                                                .rev__img
                                                    +image(i.logo)
                                                .rev__site
                                                    .rev__site-title Веб-сайт
                                                    a(href=i.site).rev__site-link= i.site
                        .revs__pag
        //- consult
        section.index__consult
            .consult
                .container
                    h2.consult__title Получите консультацию
                    .consult__sub Свяжитесь с нами и закажите индивидуальный проект. Наши специалисты проконсультируют вас и помогут решить ваши задачи
                    a(href='#').consult__btn.btn.jsQuestion
                        span.btn__txt Получить консультацию


